body, html {
    margin: 0;
    padding: 0;
    position:relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;   
    font-family: Arial, Helvetica, sans-serif;
}

#vanta {
    z-index: 0;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;   
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main {
    position:relative;
    opacity: 0;
    filter: blur(10px);
    transition: opacity 2s ease-in-out, filter 2s ease-in-out;
}

header {
    margin-top: 10%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header > img {
    width: 10em;
    height: 10em;
    border-radius: 100%;
    border: 2.5px solid #fefcfb;
    box-shadow: #FF3F81  0px 0px 150px 0.001px;
    flex: auto;
}

header > h1 {
    display: inline-block;
    font-size:medium;
    font-weight: bold;
    border-radius: 1em;
    background-color: #23153C;
    padding: 0.3em 0.6em;
    border: 2.5px solid ;
    color: #fefcfb;
    backdrop-filter: blur(10px) saturate(160%) contrast(180%);
    -webkit-backdrop-filter: blur(10px) saturate(160%) contrast(180%);
}

.container {
    box-sizing: border-box;
    list-style: none;
    margin: auto;
    padding: 4em;
    max-width: 420px;
    width: auto;
    height: auto;  
}

.container > div.button {
    background-color: #23153C;
    border-radius: 10em;
    padding: 1em;   
    margin: 2.5em 0;
    border: 2.5px solid #fefcfb;
}

.container > div.button:hover {
    background-color: #fefcfb;
    color: #23153C;
}

.container > div.button:hover > img.icon-fb {
    content: url(./img/icons8-facebook-dark.svg);
}

.container > div.button:hover > img.icon-git {
    content: url(./img/icons8-github-dark.svg);
}

.container > div.button:hover > img.icon-ig {
    content : url(./img/icons8-instagram-dark.svg);
}

.container > div.button {
    color: #fefcfb;
    text-decoration: none;
    font-size: medium;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }